body {
  width: 100%;
  background-image: url(../img/Good\ Burger.jpg);
  background-size: cover;
  background-position: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn-warning {
  border-radius: 30px;
  font-weight: bolder;
  font: outline;
  font-size: larger;
  color: white;
  margin: 15px;
  background: linear-gradient(-45deg, #f05425, #72e73c, #23abd5, #c48f00);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn:hover {
  border-radius: 30px;
  background-color: orange;
  font: outline;
  font-size: larger;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h3 {
  font-size: 50px;
  color: rgb(255, 255, 0);
  text-shadow: 2px 2px 4px #000000;
}
h1 {
  color: white;

  text-shadow: 2px 2px 4px #000000;
}
.form-control {
  background-color: rgba(223, 112, 22, 0.671);
  color: white;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.big {
  border-radius: 30px;
  background-color: rgba(255, 255, 0, 0.459);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.little {
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(255, 255, 0, 0.459);
}
#left {
  padding-left: 35px;
}
#right {
  padding-left: 35px;
}

ul {
  padding: 10px;
  margin: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
